body {
  background-color: #3d405b;
  /* background-image: url("images/background-min.jpg");
  background-size: cover; */
  background-image: linear-gradient(to right, #676977, #292f64);
  box-sizing: border-box;
}

#navbar-container {
  height: 100%;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
}

button {
  flex: 1;
  font: bold 2em "Open Sans", serif;
  color: rgb(56, 56, 56);
  overflow-x: hidden;
}

button.active,
button:hover {
  opacity: 0.75;
}

button#clock {
  /* background-color: #81b29a; */
  background-image: linear-gradient(to right, #23723d, #45d3c9);
}

button#countdown {
  /* background-color: #f2cc8f; */
  background-image: linear-gradient(to right, #e7a02e, #eed6af);
}

button#stopwatch {
  /* background-color: #e07a5f; */
  background-image: linear-gradient(to right, #fd5b42, #fdc59a);
}

#countdown-feature {
  display: none;
}

#stopwatch-feature {
  display: none;
}

#clock-time,
#countdown-time,
#stopwatch-time {
  font-family: "Orbitron", serif;
  font-size: 6rem;
}

#clock-feature button,
#countdown-feature button,
#stopwatch-feature button {
  padding: 1em;
  border-radius: 8px;
  color: rgb(56, 56, 56);
  background-color: #81b29a;
  font-size: 2rem;
  border: black;
  cursor: pointer;
}

.content {
  margin-left: 20%;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
  font: bold 6em "Open Sans", serif;
}
